.content-container {
  display: flex; 
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100vw;
  height: 100vh;

  .scrollable-container {
    overflow-y: scroll;
    width:24vw;
    height:95vh;
    margin: 1vw;
  }
}
