* {
  line-height: 0%;
}

.content {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 0% 100% 0%;
  grid-template-areas: ". panel" "viewer panel" ". panel";
  overflow: hidden;
  align-items: stretch;
  justify-items: stretch;
  height: 100vh;
}

#leftPanel {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-area: viewer;
  padding: 15px;

}

app-fact-checking-panel {
  grid-area: panel;
  overflow-y: scroll;
  padding: 1vw;
  text-align: center;
}
#pageTitle {
  padding-top:10px;
  height: 150px;
  width: auto;

}

