* {
  line-height: 0%;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: "viewer panel" "viewer panel" "viewer panel";
  overflow: hidden;
}

app-video-viewer {
  grid-area: viewer;
}

app-fact-checking-panel {
  grid-area: panel;
  overflow-y: scroll;
}
